body {
    padding: 20px;
    box-sizing: border-box;
  }

  .create-table {
    padding: 5px 10px;
  }

  .table {
    margin: 10px 0;
    border-spacing: 0px;
    border-collapse: collapse;
  }

  .table td {
    width: 30px;
    height: 30px;
    border: 1px solid #333;
    cursor: pointer;
    margin: 5px;
  }

  .table td,
  .table.inverted td.checked {
    background: #fff;
  }

  .table td.checked,
  .table.inverted td {
    background: #000;
  }
